body {
    padding: 0;
    margin: 0;
    font-family: verdana;
    background: linear-gradient(to right, #a6cde1, #11587b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    border: 10px solid rgb(8, 60, 78);
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 10px 20px 15px 20px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(5, 5, 5, 0.2);

}

h1 {
    color: rgb(11, 58, 102);
    text-align: center;
    font-size: 40px;
}





#buttons {
    margin-top: 50px;
}

.btn {
    width: 200px;
    padding: 10px 15px;
    margin: 0px 20px;
    border: 2px solid #252525;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    color: white;
    font-weight: 500;
    position: relative;
    background-color: transparent;
}



.reset::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #c91400;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  .reset:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }

  .start::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #009779;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  .start:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }

  
  .btn:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
  }
  
  

  #coin {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
  
    

  }

  #coin div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
  
    position: absolute;
    -webkit-backface-visibility: hidden;
 
  }
 



  .side-head {
    background-image: url('./images/Head.webp');
    background-size: cover; 
   
    z-index: 100;

  }
  

  .side-tail {
    background-image: url('./images/tail.webp'); 
     background-size: cover; 

     transform: rotateY(-180deg);
  
   }
  
  

   #coin{
    transition:1s ease-in;
    transform-style: preserve-3d;

   }

  
   #coin.heads {
  
         animation: flipHeads 3s ease-out forwards;
     
  }

  #coin.tails {  
      animation: flipTails 3s ease-out forwards;
    
  }

  @-webkit-keyframes flipHeads {
    from {  transform: rotateY(0); }
    to {  transform: rotateY(1800deg); }
  }

  @-webkit-keyframes flipTails {
    from { transform: rotateY(0); }
    to { transform: rotateY(1980deg); }
  }



#btnradio{
  padding-top: 10px;
  margin-top: 20px;
}
.custom-radio{
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

input[type="radio"] {
  /* Increase the size by scaling */
  transform: scale(1.5);
  /* Optionally add some margin */
  margin-right: 10px;
}
